footer{
	background-color:$footer-background-color;
}
.column-wrap{
	margin: 0 -15px;
	vertical-align: top;
	padding: 80px 0px;
	flex-direction: column;
		@media(min-width: 480px){

			flex-direction: row;
	}

}

.column{
	padding: 0px 15px;
	font-size: 14px;
	color:$title-color;
	flex-basis:300px;
	margin:15px auto;
	text-align: center;
	
	

	@media(min-width: 768px){
		text-align: left;
		flex-direction: row;
	}
	.footer-logo{
		margin-bottom: 30px;
	}
	a{
		color:$white;
		padding-top: 70px;
		
	}
	h3{
		color:$white;
	}
	
	.link{
		padding: 0;
		color:$light-blue;

	}
	data{
		font-size: 12px;
	}
	.mark-area{
		padding: 15px 0px;
		border-bottom: solid 1px $dark-gray;
			&:hover{
				color:$links-hover-color;
				cursor: pointer;
			}
			&:last-child{
				border: none;
			}
			
	}
	.img-box{
			justify-content: space-around;
		@media(min-width: 480px){
			justify-content: space-between;
			}
		img{
			margin-bottom: 10px;

		}
		
	}
}
.secondary-footer{
	background-color: black;
	
}

.copyright-info{
	justify-content: space-between;

	a{
		margin-right: 10px;
		color:$secondary-footer-text-color;
		&:hover{
			color:$links-hover-color;
		}
	}
}