@for $i from 1 through $grid-count {
  .col-#{$i} {
    width: 100% / $grid-count * $i;
  }
}


@each $item, $breakpoint in $breakpoints {
  @media all and (min-width: $breakpoint) {
    @for $i from 1 through $grid-count {
      .col-#{$item}-#{$i} {
        width: 100% / $grid-count * $i;
      }
    }
  }
}


#wrapper{
  width: 100%;
   overflow: hidden;
   position: relative;
}
.col-6,.col-12{

  padding: 0 10px;
}
section{
  background-size: cover;
  background-position:center;
}

body{
   font-family: 'Montserrat', sans-serif;
   line-height: 1.7;
    color:$base-text-color;
   font-weight: 300;

   }

.container{

  width:1200px;
  margin-left: auto;
  margin-right: auto;

}

.title-holder{
  text-align: center;
  
  margin: 0 auto;


}


.slider-area{
  display: flex;
  align-items: center;
  height: 1030px;
  justify-content: center;
}
.btn-holder{
  display: flex;
  justify-content: center;
}
.btn{
  background-color: $button-color;
  width: 170px;
  height: 50px;
  color:$white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 3px;
  margin-top: 50px;

    &:hover{
      background-color: transparent;
      border:3px solid $button-color;
    }
}
























