$base-font-family:'Montserrat', sans-serif;
$base-text-color:#ffffff;
$links-hover-color:#c7b299;
$grid-count: 12;
$hover-color:#c7b299;
$button-color:#998675;
$white:#fff;


$breakpoints: (
	sm: 768px,
	md: 1024px,
	lg: 1200px,

);