$base-font-family:'Montserrat', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;
$base-text-color:#ffffff;
$links-hover-color:#c7b299;
$grid-count: 12;
$hover-color:#c7b299;
$button-color:#998675;
$white:#fff;
$gray:#f1eee9;
$gray-lighter:#fbfaf8;
$brown-dark:#221b1a;
$brown:#4d3327;
$grid-gutter-width: 30px;
$title-color:#555555;
$fofot-hover-color:#362f2d;
$footer-background-color:#191919;
$light-blue:#00bff3;
$dark-gray:#252525;
$secondary-footer-text-color:#4e4e4e;

$breakpoints: (
	sm: 768px,
	md: 1024px,
	lg: 1200px,

);